# Ignore Node Modules
node_modules/
schedule/
cypress/
database/

package-lock.json
cypress.config.js

connection.txt
to-do.txt
Questions.txt

database/presenters.json
database/courses.json
database/titles.json

node_modules
.DS_Store
npm-debug.log
